@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background-color: #5F2C82;
}

section {
    margin: auto;
    margin-top: 2em;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.536)

}

section h1{
    text-align: center;
    padding: 8px;
}

section p{
    font-size: 0.8em;
    margin: 0.7em;
}

#bg {
    height: 200px;
    background-image: url(../assets/bg.jpg);
    background-position: bottom left;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}


input {
    background-color: #94CFCD;
    text-align: initial;
    padding: 13px 18px;
    margin-top: -500px;
    display: inline;
    position: relative;
    top: -12%;
    left: 4%;
    border-radius: 6px;
    border: none;
}

.borda {
    height: 50px;
    display: block;
    margin: auto;
    background-color: #5F2C82;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    border-radius: 8px;
}



#person {
    padding: 13px 0px 0px 8px ;
    display: inline-block;
    color: whitesmoke;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}


