@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}



header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    font-size: 10vw;
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    padding-top: 50px;
}

header>p{
    color: white;
    font-size: 2.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 50px
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: underline;
}

.paragrafos{
    font-family: Sriracha;
    color: rgb(0, 0, 0);
    font-size: 3.5vw;
    padding: 1.5em 0em 3em 30px;
    line-height: 2em;
}

#texto2{
    color: white;
    text-shadow: 1px 1px 3px black;
    box-shadow: inset 6px 6px 13px 0px rgb(0 0 0 / 47%);
    background-image: url(./assets/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    max-height: 100%;
    width: 100%;
}

#texto2>div{
    background-color: rgba(0, 0, 0, 0.498);
    width: 11.7em;
}

#texto4{
    color: white;
    text-shadow: 1px 1px 3px black;
    box-shadow: inset 6px 6px 13px 0px rgb(0 0 0 / 47%);
    background-image: url(./assets/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    max-height: 100%;
    width: 100%;
}

#texto4>div{
    background-color: rgba(0, 0, 0, 0.498);
    width: 11.9em;
}

footer{
    font: normal 2.5vh Arial;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.6em;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}